/* Place start page text in the center of the page*/
.start-page {
    text-align: center;
  }

.btn {
    background-color:rgb(94, 15, 168);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 10px;
}

.btn:hover {
    background-color: rgb(162, 67, 250);
}

.timer {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.high-scores {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    text-decoration: none;
}

.card {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;    
}

.answers {
    display: flex;
    flex-direction: column;
}

.answers .btn {
    text-align: left;
    width: 40%;
    margin: 5px;
}
 #submit, #clear, #back {
    margin: 1px;
    font-size: 12px;
    padding: 4px 10px;
 }

 #response {
    border-top: 1px solid rgb(117, 115, 115);
    color: rgb(117, 115, 115);
    padding-top: 10px;
    font-style: italic;
    font-size: 20px;
 }

 ol {
    background-color: rgb(186, 151, 220);
 }